{
  "artifact": {
    "groupId": "com.android.tools.build",
    "artifactId": "gradle"
  },
  "twitter": {
    "accessToken": "",
    "accessTokenSecret": "",
    "consumerKey": "",
    "consumerSecret": ""
  },
  "message": "Android Gradle Plugin __VERSION__ is out!",
  "db": "versions.db"
}
